pkgbase = molden
	pkgdesc = A program for molecular and electronic structure visualization
	pkgver = 7.0
	pkgrel = 1
	url = http://www.cmbi.ru.nl/molden/
	install = molden.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = vi
	makedepends = gcc-fortran
	makedepends = xorgproto
	makedepends = libx11
	makedepends = mesa
	makedepends = glu
	depends = mesa
	depends = glu
	optdepends = openbabel: to create 2D images of the molecules in a .sdf file
	optdepends = wget: to fetch PDB from rcsb.org
	provides = molden
	source = ftp://ftp.cmbi.umcn.nl/pub/molgraph/molden/molden7.0.tar.gz
	source = molden.desktop
	source = molden.png
	source = hacks.patch
	sha256sums = b41041df732c2f3ec4e5424badaa13a88260995e0fa444e69dd335e63e3d3dc3
	sha256sums = 28b0a93a583f1c0d5e735964f9991bbfa18995709fd8d00dc9d91d619053d61c
	sha256sums = dc3104c3c3a9d437128865f0703258692e6727fc2cfa9718c7a3547d63c2bb31
	sha256sums = fbc92c4363e46a54edd7edee509f14c8ed399ca27320b3848afc2fac2a0148fd

pkgname = molden
